/* src/components/DynamicTable.css */
.DynamicTable {
    border-collapse: collapse;
    width: 100%;
}

.DynamicTable th,
.DynamicTable td {
    border: 1px solid #6004a1;
    padding: 8px;
    text-align: left;
}

.DynamicTable th {
    background-color: #ba71ee;
    font-weight: bold;
}